<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Restaurant" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=dbjaprestaurant; User ID=dbjaprestaurant; Password=Kv9xhIj8C_~C"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>